
<img src="{{album.album_logo}}"/>
<h1>{{album.album_title}}</h1>
<h3>{{album.artist}}</h3>

{%if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{%endif%}

<form action="{% url 'music:favorite' album.id %}" method="POST">
    {% csrf_token%}
    {%  for song in album.song_set.all %}
    <input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}" />
    <label for="song{{forloop.counter}}">
        {{song.song_title}}
        {% if song.is_favorite%}
            <img src="https://compgen.bio.ub.edu/image452&thumb=1" height="60px" width="60px"/>
        {% endif%}
    </label>
    <br />
    {% endfor%}
    <input type="submit" value="favorite"/>
</form>
